{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}

{% block hero-image-url %}
    url('https://res.cloudinary.com/dxtsy4mcr/image/upload/v1672875464/carl-raw-m3hn2Kn5Bns-unsplash_jqfrri.jpg')
{% endblock %}
{% block hero-heading %}
    Sign In
{% endblock %}
{% block hero-subheading %}
    Comment section has awaits your return!
{% endblock %}

{% block title %}Nerd Cave - {% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card border-primary mt-3 p-4">
        <h1 class="text-center">{% trans "Sign In" %}</h1>
        <p class="text-center">{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        <form class="login d-flex flex-column justify-content-center align-items-center gap-2" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
</div>
{% endblock %}
