{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Nerd Cave - Add Post{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'author_post.css' %}">
{% endblock %}

{% block hero-image-url %}
    url('https://res.cloudinary.com/dxtsy4mcr/image/upload/v1672875464/carl-raw-m3hn2Kn5Bns-unsplash_jqfrri.jpg')
{% endblock %}
{% block hero-heading %}
    Add Post
{% endblock %}
{% block hero-subheading %}
    {% if success %}Post added successfully{% else %}“We are all apprentices in a craft where no one ever becomes a master.”—Ernest Hemingway{% endif %}
{% endblock %}


{% block content %}
    <div class="container py-4">
        <div class="card border-primary">
            <div class="card-body">
                <h3>Adding Post as : <span class="text-secondary">{{ user.username }}</span></h3>
                <form method="post" class="d-flex flex-column gap-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                    {% else %}
                    {{ field.name | capfirst }}*
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                    <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}