{% extends 'base.html' %}
{% load static %}
{% block title %} Nerd Cave - All about games {% endblock %}
{% block meta_description %} Home page {% endblock %}
{% block hero-image-url %}
    url('https://res.cloudinary.com/dxtsy4mcr/image/upload/v1672875464/carl-raw-m3hn2Kn5Bns-unsplash_jqfrri.jpg')
{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block hero-heading %}
    Latest news from console world
{% endblock %}
{% block hero-subheading %}
    All in one place
{% endblock %}
{% block content %}
    {% if ps5.latest_post %}
        <section class="container-lg mt-4 latest-posts">
            <hr>
            <h2>PS5</h2>
            <hr>
            <div class="row mt-4">
                <div class="col-md-7 mb-2">
                    <div class="card border-primary col p-0 latest-post">
                        <img src="{{ ps5.latest_post.image.url }}" class="card-img-top" alt="{{ps5.latest_post.title}}">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h3 class="card-title">{{ ps5.latest_post.title}}</h3>
                            <p class="card-text flex-grow-1 align-self-center">{{ ps5.latest_post.excerpt | truncatewords:50}}</p>
                            <p class="text-end mb-1">Author: {{ ps5.latest_post.author }}</p>
                            <p class="text-end mb-1">{{ ps5.latest_post.created_on | date }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'post_detail' ps5.latest_post.slug %}" class="btn btn-primary">Read More</a>
                                <div>
                                    <span>
                                        <i class="fa-solid fa-thumbs-up text-success"></i>
                                        {{ ps5.latest_post.likes.count }}
                                    </span>
                                    <span class="mx-2">
                                        <i class="fa-regular fa-comments text-info"></i>
                                        {{ ps5.latest_post.comments.count }}
                                    </span>
                                    <span class="badge bg-secondary">{{ ps5.latest_post.category }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    {% for post in ps5.recent_posts %}
                        <div class="card border-primary p-0 mb-2 card-recent">
                            <img src="{{ post.image.url }}" class="card-img" alt="{{post.slug}}">
                            <div class="card-img-overlay d-flex flex-column justify-content-between">
                                <h5 class="card-title">{{ post.title | truncatewords:8 }}</h5>
                                <p class="card-text flex-grow-1">{{ post.excerpt | truncatewords:12}}</p>
                                <p class="text-end mb-0">Author: {{ post.author }}</p>
                                <p class="text-end mb-0">{{ post.created_on | date }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
                                    <div>
                                        <span>
                                            <i class="fa-solid fa-thumbs-up text-success"></i>
                                            {{ post.likes.count }}
                                        </span>
                                        <span class="mx-2">
                                            <i class="fa-regular fa-comments text-info"></i>
                                            {{ post.comments.count }}
                                        </span>
                                        <span class="badge bg-secondary">{{ post.category }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if xbox.latest_post %}
        <section class="container-lg mt-4 latest-posts">
            <hr>
            <h2>XBOX</h2>
            <hr>
            <div class="row mt-4">
                <div class="col-md-7 mb-2">
                    <div class="card border-primary col p-0 latest-post">
                        <img src="{{ xbox.latest_post.image.url }}" class="card-img-top" alt="{{xbox.latest_post.title}}">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h3 class="card-title">{{ xbox.latest_post.title}}</h3>
                            <p class="card-text flex-grow-1 align-self-center">{{ xbox.latest_post.excerpt | truncatewords:50}}</p>
                            <p class="text-end mb-1">Author: {{ xbox.latest_post.author }}</p>
                            <p class="text-end mb-1">{{ xbox.latest_post.created_on | date }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'post_detail' xbox.latest_post.slug %}" class="btn btn-primary">Read More</a>
                                <div>
                                    <span>
                                        <i class="fa-solid fa-thumbs-up text-success"></i>
                                        {{ xbox.latest_post.likes.count }}
                                    </span>
                                    <span class="mx-2">
                                        <i class="fa-regular fa-comments text-info"></i>
                                        {{ xbox.latest_post.comments.count }}
                                    </span>
                                    <span class="badge bg-secondary">{{ xbox.latest_post.category }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    {% for post in xbox.recent_posts %}
                        <div class="card border-primary p-0 mb-2 card-recent">
                            <img src="{{ post.image.url }}" class="card-img" alt="{{post.slug}}">
                            <div class="card-img-overlay d-flex flex-column justify-content-between">
                                <h5 class="card-title">{{ post.title | truncatewords:8 }}</h5>
                                <p class="card-text flex-grow-1">{{ post.excerpt | truncatewords:12}}</p>
                                <p class="text-end mb-0">Author: {{ post.author }}</p>
                                <p class="text-end mb-0">{{ post.created_on | date }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
                                    <div>
                                        <span>
                                            <i class="fa-solid fa-thumbs-up text-success"></i>
                                            {{ post.likes.count }}
                                        </span>
                                        <span class="mx-2">
                                            <i class="fa-regular fa-comments text-info"></i>
                                            {{ post.comments.count }}
                                        </span>
                                        <span class="badge bg-secondary">{{ post.category }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% if switch.latest_post %}
        <section class="container-lg mt-4 latest-posts">
            <hr>
            <h2>SWITCH</h2>
            <hr>
            <div class="row mt-4">
                <div class="col-md-7 mb-2">
                    <div class="card border-primary col p-0 latest-post">
                        <img src="{{ switch.latest_post.image.url }}" class="card-img-top" alt="{{switch.latest_post.title}}">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h3 class="card-title">{{ switch.latest_post.title}}</h3>
                            <p class="card-text flex-grow-1 align-self-center">{{ switch.latest_post.excerpt | truncatewords:50}}</p>
                            <p class="text-end mb-1">Author: {{ switch.latest_post.author }}</p>
                            <p class="text-end mb-1">{{ switch.latest_post.created_on | date }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'post_detail' switch.latest_post.slug %}" class="btn btn-primary">Read More</a>
                                <div>
                                    <span>
                                        <i class="fa-solid fa-thumbs-up text-success"></i>
                                        {{ switch.latest_post.likes.count }}
                                    </span>
                                    <span class="mx-2">
                                        <i class="fa-regular fa-comments text-info"></i>
                                        {{ switch.latest_post.comments.count }}
                                    </span>
                                    <span class="badge bg-secondary">{{ switch.latest_post.category }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    {% for post in switch.recent_posts %}
                        <div class="card border-primary p-0 mb-2 card-recent">
                            <img src="{{ post.image.url }}" class="card-img" alt="{{post.slug}}">
                            <div class="card-img-overlay d-flex flex-column justify-content-between">
                                <h5 class="card-title">{{ post.title | truncatewords:8 }}</h5>
                                <p class="card-text flex-grow-1">{{ post.excerpt | truncatewords:12}}</p>
                                <p class="text-end mb-0">Author: {{ post.author }}</p>
                                <p class="text-end mb-0">{{ post.created_on | date }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
                                    <div>
                                        <span>
                                            <i class="fa-solid fa-thumbs-up text-success"></i>
                                            {{ post.likes.count }}
                                        </span>
                                        <span class="mx-2">
                                            <i class="fa-regular fa-comments text-info"></i>
                                            {{ post.comments.count }}
                                        </span>
                                        <span class="badge bg-secondary">{{ post.category }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}