form p {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
form p input {
    padding: 5px 10px;
    border-radius: 7px;
    background: transparent;
    border: 1px solid #6610f2;
    box-shadow: 0 0 2px rgb(111 66 193 / 90%), 0 0 4px rgb(111 66 193 / 40%), 0 0 1rem rgb(111 66 193 / 30%), 0 0 4rem rgb(111 66 193 / 10%);
}

#sign-out-button{
    height: 100%;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}