.latest-post{
    height: 45rem !important;
}
.latest-post .card-img-top{
    height: 20rem !important;
}
.card-recent{
    height: 14.6rem;
}
.card-recent .card-img{
    height: 14.4rem;
    filter: brightness(0.5);
}
