p:has(img){
    text-align: center;
}
img{
    text-align: center;
    margin: 1rem 0 !important;
}
table, th, td {
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}

textarea {
    width: 100%;
}

.btn-clear{
    background: none;
    border: none;
}